@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



<div class="container">
    <br /><br />
    <hr />
    <h3>İşlem Butonları</h3>
    <button type="button" id="btnCustomerList" class="btn btn-outline-primary">Müşteri Listesi</button>
    <button type="button" id="btnCustomerAdd" class="btn btn-outline-info">Müşteri Ekle</button>
    <button type="button" id="btnCustomerDelete" class="btn btn-outline-danger">Müşteri Sil</button>
    <button type="button" id="btnCustomerEdit" class="btn btn-outline-success">Müşteri Güncelle</button>
    <button type="button" id="btnCustomerGet" class="btn btn-outline-warning">Müşteri Getir</button>
    <br />
    <hr />
    <h3>Müşteri Listesi</h3>
    <div id="customerList">
    </div>
    <br />
    <hr />
    <div>
        <h3>Yeni Müşteri Ekleme Alanı</h3>
        <input type="text" class="form-control" id="txtCustomerName" placeholder="Müşteri Adı"/>
        <br />
        <input type="text" class="form-control" id="txtCustomerSurname" placeholder="Müşteri Soyadı"/>
        <br />
        <input type="text" class="form-control" id="txtCustomerCity" placeholder="Müşteri Şehri" />
        <br />
        <hr />

    </div>
    <div>
        <h3>Müşteri Silme Alanı</h3>
        <input type="text" class="form-control" id="txtDeleteId" placeholder="Silmek istediğiniz müşterinin Id'sini giriniz." />
        <br />
        <hr />

        <h3>ID'ye göre Müşteri Getirme Alanı'</h3>
        <input type="text" class="form-control" id="txtGetId" placeholder="Getirmek istediğiniz müşterinin Id'sini giriniz." />
        <br />
        <hr />
        <h3>ID'ye göre Müşteri Listesi</h3>
        <div id="customerWithIdList">
        </div>
        <br />
        <br />
        <br />
        <br />
        <hr />
    </div>
</div>

<script>
    $("#btnCustomerList").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Default/CustomerList/",
            success: function (funk1) {
                let values = jQuery.parseJSON(funk1);
                console.log(values);
                let tableHtml =
                    `<table class='table table-bordered'>
                        <tr>
                            <th>Müşteri ID</th>
                            <th>Müşteri Adı</th>
                            <th>Müşteri Soyadı</th>
                            <th>Şehir</th>
                        </tr>                `;
                $.each(values, (index, value) => {
                    tableHtml +=
                        `<tr>
                            <td>${value.CustomerId}</td>
                            <td>${value.Name}</td>
                            <td>${value.Surname}</td>
                            <td>${value.City}</td>
                        </tr>`
                })
                tableHtml += "</table>";
                $("#customerList").html(tableHtml);
            }
        });
    });

    $("#btnCustomerAdd").click(function () {
        let values = {
            Name: $("#txtCustomerName").val(),
            Surname: $("#txtCustomerSurname").val(),
            City: $("#txtCustomerCity").val()
        };
        $.ajax({
            type: "POST",
            url: "/Default/AddCustomer/",
            data: values,
            success:function(response){
                let result = jQuery.parseJSON(response);
                swal({
                    title: "Müşteri eklendi!",
                    text: "Veritabanına kaydedildi.",
                    icon: "success",
                    button: "Tamamdır!"
                });
            }
        });
    });
    $("#btnCustomerDelete").click(function () {
        let id = $("#txtDeleteId").val();
        $.ajax({
            url: "/Default/DeleteCustomer/"+id,
            type: "POST",
            contentType: "application/json",
            success: function(response){
                swal({
                    title: "Müşteri silindi!",
                    text: "Veritabanında artık böyle bir müşteri yok.",
                    icon: "success",
                    button: "Tamamdır!"
                });
            }
        });
    });

    $("#btnCustomerGet").click(function () {
        let id = $("#txtGetId").val();
        $.ajax({
            url: "/Default/GetCustomer/",
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            data: { CustomerId: id },
            success: function (response) {
                let result = jQuery.parseJSON(response);
                console.log(result);
                let tableHtml =
                    `<table class='table table-bordered'>
                            <tr>
                                <th>Müşteri ID</th>
                                <th>Müşteri Adı</th>
                                <th>Müşteri Soyadı</th>
                                <th>Şehir</th>
                            </tr>
                            <tr>
                                    <td>${result.CustomerId}</td>
                                    <td>${result.Name}</td>
                                    <td>${result.Surname}</td>
                                    <td>${result.City}</td>
                            </tr>
                    </table>`
                $("#customerWithIdList").html(tableHtml);
                /*swal({
                    title: "Müşteri silindi!",
                    text: "Veritabanında artık böyle bir müşteri yok.",
                    icon: "success",
                    button: "Tamamdır!"
                });*/
            }
        });
    });
</script>